{% extends 'base.html' %}
{% block content %}

<head>
    <div class="container mt-4" style="max-width: 80%; display: flex;">
        <!-- Левая панель с чатами -->
        <div class="chat-list"
            style="width: 30%; background-color: #f3f3f3; padding: 15px; border-radius: 10px; overflow-y: auto; max-height: 900px;">
            <h4>Чаты</h4>
            {% for chat in chatrooms %}
            <div class="chat-item" style="padding: 10px; border-bottom: 1px solid #ddd; cursor: pointer;"
                onclick="window.location.href='{% url 'chatroom'  chat.id %}'">
                <strong>{{ chat.name }}</strong>
            </div>
            {% endfor %}
        </div>
        <!-- Основной чат -->
        <div class="chat-container" style="width: 70%; margin-left: 20px;">
            <!-- Заголовок чата -->
            <div class="chat-header"
                style="background-color: #91c788; padding: 15px; font-size: 18px; font-weight: bold; text-align: center; border-radius: 10px 10px 0 0;">
                {{ chatroom.name }}
            </div>
            <!-- Контейнер сообщений -->
            <div id="chat-messages" class="overflow-auto"
                style="max-height: 700px; background-color: thistle; padding: 15px; min-height: 700px;font-family:  sans-serif">
                {% for message in chat_messages %}
                <div
                    class="message-container {% if message.user == request.user %} sent {% else %} received {% endif %}">
                    <div class="message-header">
                        <strong style="color: rgb(109, 224, 109);">{{ message.user }}</strong>
                        <span class="message-time">{{ message.date|date:"H:i" }}</span>
                    </div>
                    <div class="message-body">
                        {{ message.message }}
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- Контейнер для формы -->
            <div class="chat-input-container px-3 pb-3"
                style="background-color: thistle; border-radius: 0 0 10px 10px;">
                <form method="post">
                    {% csrf_token %}
                    <div class="d-flex">
                        <input id="message-input" type="text" name="message" placeholder="Enter"
                            class="form-control flex-grow-1" />
                        <button id="send-button" type="submit" class="btn btn-secondary btn-lg ml-2">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{ chatroom.slug|json_script:'json-chatroomname' }}
    {{ chatroom.id|json_script:'json-chatroomid' }}
    {{ request.user.username|json_script:'json-username' }}
    <audio id="notification-sound" src="/static/sounds/notification.mp3"></audio>
    <audio id="sent-sound" src="/static/sounds/message-send.mp3"></audio>
    {% endblock %}