<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
    <script src="{% static 'js/chats.js' %}"></script>
    <title>Document</title>
</head>

<body>
</body>
{% include 'navbar.html' %}
<audio id="notification-sound" src="/static/sounds/notification.mp3" preload="auto"></audio>
<audio id="sent-sound" src="/static/sounds/sent.mp3" preload="auto"></audio>
<div id="chat-notifications"></div>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li id="error-messages" class="{{ message.tags }}">
        {{ message }}
    </li>
    {% endfor %}
</ul>
<script>
    setTimeout(() => {

        document.getElementById('error-messages').classList.add('hidden');

        setTimeout(() => {
            document.getElementById('error-messages').style.display = 'none';

        }, 2000)


    }, 5000)
</script>
{% endif %}
{% block content %}
{% endblock %}

</html>