body {
    font-family: 'Comic Sans MS', 'Brush Script MT', cursive;
}


.message-container {
    background-color: thistle;
    max-width: 100%;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.sent {
    max-width: 50%;
    background-color: #4d97e5;
    color: white;
    align-self: flex-end;
    text-align: right;
    margin-left: auto;
    border-top-right-radius: 0;
}

.received {
    max-width: 50%;
    background-color: #f1f1f1;
    color: black;
    align-self: flex-start;
    text-align: left;
    margin-right: auto;
    border-top-left-radius: 0;
}

.received .message-header {
    display: flex;
    justify-content: space-between;
}

.sent .message-header {
    display: flex;
    justify-content: space-between;
}

.message-header {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.sent .message-time {
    font-size: 12px;
    color: rgba(165, 53, 53, 0.8);
    float: left;
}

.sent .message-body {
    text-align: left;
}

.message-body {
    word-wrap: break-word;
    /* Переносит длинные слова */

}

.message-time {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
    float: right;
}

.received .message-time {
    color: rgba(0, 0, 0, 0.6);
}

.chat-input-container {
    width: 100%;


    /* Поле ввода на всю ширину */
}

.chat-header {
    background-color: #ffffff;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid #ddd;
}


#message-input {
    flex-grow: 1;
    /* Растягивает поле ввода на всю ширину */
    height: 50px;
    /* Увеличивает высоту поля ввода */
    font-size: 16px;
    /* Делает текст в поле больше */
    font-family: monospace;
}

#send-button {
    height: 50px;
    /* Увеличивает кнопку до высоты поля */
    font-size: 16px;
    /* Увеличивает текст в кнопке */
}

/* //////////////////////////Messages */

.messages {
    list-style: none;
    padding: 10px;
    margin: 10px 0;
}

.messages .success {
    background: #4caf50;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.messages .error {
    background: #f44336;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.messages .info {
    background: #2196f3;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

#error-messages {
    opacity: 1;
    transition: opacity 1s ease-out;
}

#error-messages.hidden {
    opacity: 0;

}

.notification-container {
    position: fixed;
    bottom: 150px;
    /* Сдвигаем уведомления в нижнюю часть */
    left: 20px;
    z-index: 1000;
    width: 300px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}

.notification {
    background-color: #506a58;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    height: 70px;
    font-family: monospace;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 1;
    transition: opacity 0.5s ease-out;
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;

    word-wrap: break-word;
    max-width: 100%;

}

.notification.hide {
    opacity: 0;
}

.dropdown-menu {
    background-color: #a4d8e3;
}

.dropdown-menu li {
    color: #f44336;

}

.dropdown-menu a {
    color: #f44336;
    font-family: monospace;
    font-size: large;
    line-height: 1.2;
    padding: 4px 10px;
}